<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.vindisere.wine"
    version   = "1.0.0">

<name>Wine</name>

<description>
A wine selector application.
</description>

<author href="http://vindisere.co.uk" email="info@vindisere.co.uk">
Tahir Ali
</author>

</widget>
